name: Modal Cron Job

on:
  schedule:
    - cron: '0 */3 * * *' # Runs every 3 hours

jobs:
  run-modal-function:
    name: Run Modal Function
    runs-on: ubuntu-latest
    env:
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Modal
        run: |
          python -m pip install --upgrade pip
          pip install modal

      - name: Run Modal function
        run: |
          modal run backend/jobber.py::scrape
